{% load i18n %}
<!-- BEGIN Filter -->
<div class="well filter-banner">
    <form class="form" action="#" role="form">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="filter-input" placeholder="{% trans 'Search for an object.' %}">
                <span class="input-group-btn">
                    <button id="filter-tag" class="btn btn-default" data-toggle="button">{% trans "Common Use" %}</button>
                    <a class="btn btn-default" type="button" title='{% trans "More filters" %}' data-toggle="collapse" data-target="#filter-more">
                        <span class="fa fa-navicon"></span>
                    </a>
                    <a class="btn btn-default" type="button" title='{% trans "Reset" %}' id="filter-reset">
                        <span class="fa fa-times-circle"></span>
                    </a>
                </span>
            </div>
        </div>
    </form>
    <form id="filter-more" class="form-horizontal collapse" action="{{ filter }}" role="form" data-form-callback="updateList">
            <div class="form-group">
                <label for="filter-group-select" class="col-md-3 control-label">{% trans "Filter by group:" %}</label>
                <div class="col-md-9">
                    <select id="filter-group-select" class="form-control">
                        <option value="0">{% trans "All" %}</option>
                        {% for group in group_list %}
                        <option value="{{ group.name }}">{{ group }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="filter-location-select" class="col-md-3 control-label">{% trans "Filter by location:" %}</label>
                <div class="col-md-9">
                    <select id="filter-location-select" class="form-control">
                        <option value="0">{% trans "All" %}</option>
                        {% for location in location_list %}
                        <option value="{{ location }}">{{ location }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{% trans "Filter by allowance:" %}</label>
                <div class="col-md-9">
                    <label class="checkbox-inline" >
                        <input type="checkbox" name="allowance-0" value="-1" {% if filter == None %}checked{% endif %} />{% trans "All" %}</label>
                    {% for allowance in allowance_list %}
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               class="filter-check"
                               name="allowance-{{ allowance.id }}"
                               value="{{ allowance.id }}" {% if allowance in filter%}checked{% endif %}/>
                        {{ allowance.name }}
                    </label>
                    {% endfor %}
                </div>
            </div>
        </form>
</div>
<!-- END Filter -->
