{% extends "layout.html" %}
{% load i18n %}

{% block addon %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static "pharmaship/inventory.css" %}'>
    <script src='{% static "pharmaship/js/inventory.js" %}'></script>
{% endblock %}

{% block print %}
<form action="{% url 'med_print' %}" method="post">
    {% csrf_token %}
    <input id="print" type="submit" value="{% trans 'Print this inventory' %}"/>
</form>
{% endblock %}

{% block content %}
<div class="debug">{{ debug }}</div>
<div id="filter_banner">
    <form class="filterform" action="#">
        <p><input type="text" id="filterinput" placeholder="{% trans 'Search for an INN or a medicine.' %}" size="35"/>
        <a href="#" id="reset_input" title='{% trans "Reset" %}'> </a>
        <a href="#" id="advanced_filter">{% trans "More filters" %}</a></p>
    </form>
    <div id="filter_more">
        <p>{% trans "Filter by group:" %}
            <select id="filterselect">
                <option value="">{% trans "All" %}</option>
                {% for group in group_list %}
                <option value="{{ group.name }}">{{ group }}</option>
                {% endfor %}
            </select>
            <label><input type="checkbox" id="filtertag" value="Usage courant"/> Usage courant</label>
        </p>
        <form action="{% url 'med_filter' %}" method="post" id="filterallowance">
            {% csrf_token %}
            <p>{% trans "Filter by allowance:" %}
                <label><input type="checkbox" name="allowance-0" value="-1" {% if filter == None %}checked{% endif %} /> {% trans "All" %}</label>
                {% for allowance in allowance_list %}
                <label><input type="checkbox" class="filtercheck" name="allowance-{{ allowance.id }}" value="{{ allowance.id }}" {% if allowance in filter%}checked{% endif %}/> {{ allowance.name }}</label>
                {% endfor %}
            </p>
            <p>{% trans "Filter by location:" %}
                <select id="filterlocation">
                    <option value="">{% trans "All" %}</option>
                    {% for location in location_list %}
                    <option value="{{ location }}">{{ location }}</option>
                    {% endfor %}
                </select>
            </p>
        </form>
        </div>
</div>
<div id="medicine_table">
    <header id="medicine_table_header">
        <ul>
            <li class="medicine_li medicine_inn">Principe actif (DC)</li>
            <li class="medicine_li medicine_compo">{% trans "Form" %} - {% trans "Composition" %}</li>
            <li class="medicine_li medicine_qty">{% trans "Quantity" %}</li>
            <li class="medicine_li medicine_qty">{% trans "Requested" %}</li>
            <li class="medicine_li medicine_date">{% trans "Expiration Date" %}</li>
        </ul>
    </header>

    <div id="articles">
    {% for group in values %}
    <div class="group_div">
    <h2 class="group">{{ group.name}}</h2>
    {% for inn in group.child %}
    <article class="medicine_item" id="item-{{ inn.id }}">
        <header id='inn-head-{{ inn.id }}' class="medicine_inn_header">
            <ul class="inn_list">
                <li class="medicine_li medicine_inn">{{ inn.name }}<br />
                    <small class="brand">
                        {% for item in inn.medicine_items %}{% if not forloop.first %}, {% endif %}{% if item.nc_composition or item.nc_molecule %}<span class="red">{{ item.name }}</span>{% else %}{{ item.name }}{% endif %}{% endfor %}
                    </small>
                </li>
                <li class="medicine_li_h medicine_compo">{{ inn.dosage_form }} - {{ inn.composition }}</li>
                <li class="medicine_li_h medicine_qty {% if inn.quantity < inn.required_quantity %}error{% endif %}">{{ inn.quantity }}</li>
                <li class="medicine_li_h medicine_qty">0</li> <!-- TODO -->
                {% with inn.medicine_items|first as item %}
                <li class="medicine_li_h medicine_date {% if item.exp_date < today %}error{% elif item.exp_date < delay %}warning{% endif %}">{{ item.exp_date|date:"d/m/Y" }}</li>
                {% endwith %}
            </ul>
        </header>
        <div id='inn-{{ inn.id }}' class="medicine_more">
            {% if inn.medicine_list != "None" %}
            <div class="medicine_list redborder">{{ inn.medicine_list }}</div>
            {% endif %}
            <div class="medicine_wrapper">
                
                <div class="medicine_info">
                    <p class="medicine_roa"><b>{% trans "Route of Administration:" %}</b> {{ inn.roa }}</p>
                    <p class="medicine_allowance"><b>{% trans "Required Quantity:" %}</b> {{ inn.required_quantity }}</p>
                    {% if inn.tag.all|length > 0 %}
                    <p class="medicine_tag"><b>{% trans "Tags:" %} </b>
                        {% for tag in inn.tag.all %}{% if not forloop.first %}, {% endif %}{{ tag.name }}{% endfor %}
                    </p>
                    {% endif %}
                    <p class="medicine_rem">
                        <a href="{% url 'med_remark' inn.id %}" title="Éditer les remarques" class="jquery_popup remark_edit">{% trans "Remarks:" %}</a>
                        {{ inn.remark.text }}
                    </p>
                </div>


            </div>
            {% if inn.medicine_items|length > 0 %}
            <table class="medicine_items">
                <thead>
                <tr>
                    <td class="medicine_inn">{% trans "Brand Name" %}</td>
                    <td class="medicine_qty">{% trans "Quantity" %}</td>
                    <td class="medicine_date">{% trans "Expiration Date" %}</td>
                    <td class="medicine_location">{% trans "Location" %}</td>
                    <td class=""></td>
                    <td class="medicine_buttons"></td>
                </tr>
                </thead>
                <tbody>
                {% for item in inn.medicine_items %}
                <tr class="border">
                    <td>{{ item.name }}
                {% if item.nc_molecule %}<span class="red">[ {{ item.nc_molecule }} ]</span>{% endif %}
                {% if item.nc_composition %}<span class="red">({{ item.nc_composition }})</span>{% endif %}</td>
                    <td class="medicine_qty">{{ item.quantity }}</td>
                    <td class="medicine_date {% if item.exp_date < today %}error{% elif item.exp_date < delay %}warning{% endif %}">{{ item.exp_date|date:"d/m/Y" }}</td>
                    <td class="location">{{ item.location }}</td>
                    <td class="red">
                        {% if item.nc_molecule %}
                        DÉNOMINATION NON CONFORME !
                        {% elif item.nc_composition %}
                        COMPOSITION NON CONFORME !
                        {% endif %}
                    </td>
                    <td class="medicine_buttons">
                        <a href="{% url 'med_out' item.id %}" title="Utiliser ce médicament" class="jquery_popup medicine_out medicine_link"></a>
                        <a href="{% url 'med_change' item.id %}" title="Éditer ce médicament" class="jquery_popup medicine_edit medicine_link"></a>
                        <a href="{% url 'med_delete' item.id %}" title="Supprimer ce médicament" class="jquery_popup medicine_delete medicine_link"></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <nav class="medicine_action">
                <a href="{% url 'med_add' inn.id %}" class="medicine_submit green jquery_popup">{% trans 'Add a medicine' %}</a> 
                <a href="{% url 'med_equivalent' inn.id %}" class="medicine_submit violet jquery_popup">{% trans 'Add an equivalent' %}</a> 
            </nav>
        </div>
    </article>
    {% endfor %}
    </div>
    {% endfor %}
    </div>

</div>
{% endblock %}
