{% extends "pharmaship/popup.html" %}
{% load i18n %}

{% block begin_wrapper %}
<form method="post" action="{% url 'med_out' medicine.id %}" name="medicine_form">
{% csrf_token %}
{% endblock %}

{% block text %}
<p>{% trans "You are going to use this medicine for a treatment:" %}</p>
<p><b class="sky_blue">{{ medicine.name }}</b> {% trans "expiring" %} <b>{{ medicine.exp_date|date:"d/m/Y" }}</b> ({% trans "quantity in stock:" %} {{ medicine.get_quantity }}).</p>
<table>
    {{ form }}
</table>
{% endblock %}

{% block action %}
<ul>
    <li class="b-close popup_action">{% trans "Do not use" %}</li>
    <li class="popup_action" onClick="document.forms['medicine_form'].submit();">{% trans "Use this medicine" %}</li>
</ul>
{% endblock %}

{% block end_wrapper %}
</form>
{% endblock %}
