{% extends "html/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css_addon %}
<link href='{% static "css/pharmaship/inventory.css" %}' rel="stylesheet">
{% endblock %}

{% block js_addon %}
<script src='{% static "js/pharmaship/filter.js" %}'></script>
<script src='{% static "js/pharmaship/callbacks.js" %}'></script>
{% endblock %}

{% block content %}
<div class="debug">{{ debug }}</div>

{% include "pharmaship/filter.inc.html" %}

<div class="row list-headers">
       <div class="col-md-5 vcenter">{% trans "Name" %}</div><!--
    --><div class="col-md-3 vcenter">{% trans "Form" %} - {% trans "Composition" %}</div><!--
    --><div class="col-md-1 text-center vcenter">{% trans "Quantity" %}</div><!--
    --><div class="col-md-1 text-center vcenter">{% trans "Requested" %}</div><!--
    --><div class="col-md-2 text-center vcenter">{% trans "Expiration Date" %}</div>
</div>

{% include "pharmaship/medicine_list.inc.html" %}
{% endblock %}
