{% load staticfiles %}
{% load i18n %}
<div class="row item-div" id="item-{{ object.id }}">
    <div class="col-md-12">
        <div class="row item-header" data-toggle="collapse" data-target="#item-{{ object.id }}-more" data-parent="#item-list">
            <div class="col-md-5 vcenter">
                <h4>{{ object.name }}
                    <br/>
                    <small class="brand">
                        {% for item in object.medicine_items %}{% if not forloop.first %}, {% endif %}{% if item.nc_composition or item.nc_molecule %}
                        <span class="text-danger">{{ item.name }}</span>{% else %}{{ item.name }}{% endif %}{% endfor %}
                    </small>
                </h4>
            </div><!--
        --><div class="col-md-3 vcenter">{{ object.dosage_form }} {{ object.composition }}</div><!--
        --><div class="col-md-1 vcenter text-center bt-tooltip {% if object.quantity < object.required_quantity %}bg-danger{% endif %}"  data-toggle="tooltip" data-placement="bottom" title='{% trans "Required Quantity:" %} {{ object.required_quantity }}'>{{ object.quantity }}</div><!--
        --><div class="col-md-1 vcenter text-center">{{ object.ordered }}</div><!--
        -->{% with object.medicine_items|first as item %}<div class="col-md-2 vcenter text-center {% if item.exp_date < today %}bg-danger{% elif item.exp_date < delay %}bg-warning{% endif %}">{{ item.exp_date|date:"d/m/Y" }}</div>
            {% endwith %}
        </div>

        <div class="row item-more collapse" id="item-{{ object.id }}-more">
            <div class="col-md-12">
                {% if object.medicine_list %}
                <p class="pull-right liste">
                    {{ object.medicine_list }}
                </p>
                {% endif %}
            <div class="item-info">

                {% if object.tag.all|length > 0 %}
                <p class="item-tag">
                    <b>{% trans "Tags:" %}</b>
                    {% for tag in object.tag.all %}
                    <span class="label label-primary">{{ tag }}</span>{% endfor %}
                </p>
                {% endif %}
                <p>
                    <a href="{% url 'pharmaship:medicine:remark' object.id %}"
                       class="btn btn-link"
                       title="{% trans 'Edit the remarks' %}"
                       data-toggle="modal"
                       data-target="#action_modal">
                        <span class="fa fa-edit"></span> {% trans "Remarks:" %}</a>
                    <span id="remark-{{ object.id }}">{{ object.remark.text }}</span>
                </p>
            </div>
            {% if object.medicine_items|length > 0 %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Brand Name" %}</th>
                        <th class="text-center">{% trans "Quantity" %}</th>
                        <th class="text-center">{% trans "Expiration Date" %}</th>
                        <th>{% trans "Location" %}</th>
                        <th class=""></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object.medicine_items %}
                    <tr class="border">
                        <td>{{ item.name }}
                            {% if item.nc_molecule %}<span class="text-danger">[{{ item.nc_molecule }}]</span>{% endif %}
                            {% if item.nc_composition %}<span class="text-danger">({{ item.nc_composition }})</span>{% endif %}
                        </td>
                            <td class="text-center">{{ item.quantity }}</td>
                            <td class="text-center">
                                <p class="{% if item.exp_date < today %}bg-danger{% elif item.exp_date < delay %}bg-warning{% endif %}">
                                    {{ item.exp_date|date:"d/m/Y" }}
                                </p>
                            </td>
                            <td class="location">{{ item.location }}</td>
                            <td class="text-center">
                                {% if item.nc_molecule or item.nc_composition %}
                                <span class="label label-danger bt-tooltip"
                                      title= '{% if item.nc_molecule %}{% trans "Non-conform molecule" %}{% endif %}
                                              {% if item.nc_molecule and item.nc_composition%}<br>{% endif %}
                                              {% if item.nc_composition %}{% trans "Non-conform composition" %}{% endif %}'
                                      data-toggle="tooltip"
                                      data-placement="bottom"
                                      {% if item.nc_molecule and item.nc_composition%}data-html="true"{% endif %}>
                                        {% trans "Non-conform!" %}
                                </span>
                                {% endif %}
                            </td>
                            <td class="medicine_buttons">
                                <a href="{% url 'pharmaship:medicine:out' item.id %}"
                                   title="{% trans 'Use this medicine' %}"
                                   class="btn btn-primary btn-sm"
                                   data-toggle="modal"
                                   data-target="#action_modal">
                                    <span class="fa fa-upload"></span>
                                </a>
                                <a href="{% url 'pharmaship:medicine:change' item.id %}"
                                   title="{% trans 'Edit this medicine' %}"
                                   class="btn btn-default btn-sm"
                                   data-toggle="modal"
                                   data-target="#action_modal">
                                    <span class="fa fa-edit"></span>
                                </a>
                                <a href="{% url 'pharmaship:medicine:delete' item.id %}"
                                   title="{% trans 'Delete this medicine' %}"
                                   class="btn btn-danger btn-sm"
                                   data-toggle="modal"
                                   data-target="#action_modal">
                                    <span class="fa fa-trash-o"></span>
                                </a>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
<div class="btn-group">
    <a href="{% url 'pharmaship:medicine:add' object.id %}"
       class="btn btn-success"
       data-toggle="modal"
       data-target="#action_modal">
        <span class="fa fa-plus"></span> {% trans 'Add a medicine' %}</a>
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="{% url 'pharmaship:medicine:equivalent' object.id %}"
               data-toggle="modal"
               data-target="#action_modal">
                <span class="fa fa-exclamation-triangle"></span> {% trans 'Add an equivalent' %}</a>
        </li>
    </ul>
</div>



        </div>
    </div></div>
</div>
