###############################################################################
#                                                                             #
#                           Pharmaship - .gitignore                           #
#                                                                             #
#                                            par navugo, 2014/10/18           #
#                                                                             #
###############################################################################

# Pas de fichiers compilés
*.pyc

# Pas de fichier temporaire
*~