include LICENSE
include README.md

recursive-include common *

recursive-include core/static *
recursive-include core/templates *

recursive-include inventory/static *
recursive-include inventory/templates *

recursive-include purchase/static *
recursive-include purchase/templates *

recursive-include settings/static *
recursive-include settings/templates *