include LICENSE
include README.md
include TODO.md

include Makefile

recursive-include pharmaship/data *.yaml
recursive-include pharmaship/data *.pub

recursive-include pharmaship/gui *.py
recursive-include pharmaship/gui *.html
recursive-include pharmaship/gui *.css
recursive-include pharmaship/gui *.png
recursive-include pharmaship/gui *.svg
recursive-include pharmaship/gui *.glade
recursive-include pharmaship/gui *.xml
recursive-include pharmaship/gui *.po
recursive-include pharmaship/gui *.mo
recursive-include pharmaship/gui *.gresource

recursive-include pharmaship/schemas *.json

# Documentation
recursive-include docs *.rst
recursive-include docs *.png
recursive-include docs *.svg
include docs/conf.py

# Installer
recursive-include bin *.nsi
recursive-include bin *.nsh
recursive-include bin *.sh
recursive-include bin *.exe
recursive-include bin *.py

include bin/pharmaship_installer.bmp
include bin/pharmaship-sign
include bin/pharmaship.ico
include bin/launcher.py
include bin/manage.py
