cerberus
coloredlogs
django-mptt
django
djangorestframework
munch
pillow
pluralizer
pyaml
pygobject
pypdf2
python-gnupg
pytz
pyyaml
rest-framework-generic-relations
django-modeltranslation
weasyprint
matplotlib
numpy
xdg_base_dirs
