{% extends "html/layout.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block sidebar %}
    <ul class="nav nav-sidebar">
        {% for item in links %}
        <li>
            <a href="{{ item.url }}" {% if item.active %}class="active" {% endif %}>{{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<h1 class="page-header">{{ title }}</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Medical Responsible" %}</h3>
    </div>
    <div class="panel-body">
        <form role="form" id="user_form" method="post" action="{% url 'settings:user' %}" data-form-callback="updateUser">
            {% csrf_token %}
            {{ userform|bootstrap }}
            <button type="submit" class="btn btn-primary">{% trans "Update User Information" %}</button>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Vessel Particulars" %}</h3>
    </div>
    <div class="panel-body">
        <form role="form" id="vessel_form" method="post" action="{% url 'settings:vessel' %}">
            {% csrf_token %}
            {{ vesselform|bootstrap }}
            <button type="submit" class="btn btn-primary">{% trans "Update Vessel Information" %}</button>
        </form>
    </div>
</div>
{% endblock %}
