            <article>
                {% load i18n %}
            <ul>
                <li class="item_desc">{{ item }}<br />
                    <small class="additional">
                        {{ item.additional }}
                    </small>
                </li>
                
                <li class="item_qty"><input name="item_qty-{{ item.id }}" type="text" value="{{ item.quantity }}"/></li>
                <li class="item_action"><a href="{% url 'purchase_item_delete' item.id requisition.id %}" title="{% trans 'Delete this item' %}" class="item_delete item_link fa fa-times-circle"></a></li>                
            </ul>
            </article>