{% extends "html/layout.html" %}
{% load i18n %}
{% load staticfiles %}

{% block css_addon %}
<link rel="stylesheet" type="text/css" href='{% static "css/purchase/requisition.css" %}'>
{% endblock %}

{% block js_addon %}
<script src='{% static "js/purchase/requisition.js" %}'></script>
<script src='{% static "js/purchase/callbacks.js" %}'></script>

<script>
    $('a[href="#items"]').tab('show');
</script>
{% endblock %}

{% block print %}

{% endblock %}

{% block content %}
<div id="requisition">
    <h2>
        <span id="requisition-name">{{ requisition.name }}</span>
        <small>{{ requisition.reference }}</small>
        <div class="btn-group">
            <a href="{% url 'purchase:requisition:status' requisition.id %}"
               class="btn btn-default"
               id="requisition-status"
               data-toggle="modal"
               data-target="#action_modal">
                {{ requisition.get_status_display }}
            </a>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="{% url 'purchase:requisition:status' requisition.id %}"
                       data-toggle="modal"
                       data-target="#action_modal">
                        {% trans "Change Status" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'purchase:requisition:edit' requisition.id %}"
                       data-toggle="modal"
                       data-target="#action_modal">
                        {% trans "Change Name" %}
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{% url 'purchase:requisition:delete' requisition.id %}"
                       data-toggle="modal"
                       data-target="#action_modal">
                        {% trans "Delete this requisition" %}
                    </a>
                </li>
            </ul>
        </div>
        <span class="badge">{{ requisition.item_name }}</span>
    </h2>

    <nav>
        <ul class="nav nav-tabs">
            <li>
                <a href="#items" class="active" data-toggle="tab">Items ({{ requisition.item_set.all|length }})</a>
            </li>
            <li>
                <a href="#instructions" data-toggle="tab">Instructions</a>
            </li>
        </ul>
    </nav>
</div>
<div id="details" class="tab-content">
    <div id="items" class="tab-pane">
        <div class="row list-headers">
            <div class="col-md-6">{% trans "Item Description" %}</div>
            <div class="col-md-1 text-center">{% trans "Quantity" %}</div>
        </div>
        {% if requisition.status == 0 %}
        <form action="{% url 'purchase:item:add' requisition.id %}" method="POST" name="new_item" data-form-callback="itemAdd">
            {% csrf_token %}
            <input type="hidden" name="name_search_url" value="{% url 'purchase:requisition:name_search' requisition.id %}" />
            <input type="hidden" name="object_id" value="" />
            <div class="row ps-item-add">
                <div class="col-md-6">
                    <input name="new_item_name" class="form-control select2" placeholder="{% trans 'Item Name' %}">
                </div>
                <div class="col-md-1 ps-table-cell">
                    <input type="number" class="form-control text-center" name="quantity" value="0" step="1" min="1">
                </div>
                <div class="col-md-4 ps-table-cell">
                    <button type="submit" class="btn btn-success item_submit" title="{% trans 'Add item' %}">
                        <span class="fa fa-plus"></span>
                    </button>
                </div>
            </div>
        </form>
        {% endif %}
        <div class="ps-scroll-items">
            <form class="form-horizontal"
                  role="form"
                  action='{% url "purchase:item:update" %}'
                  method="post"
                  id='update-form'
                  data-form-callback='quantityFeedback'>
                <input type="hidden" name="item_id">
                <input type="hidden" name="item_qty">
                <input type="hidden" name="requisition_id" value="{{ requisition.id }}">
            </form>

            {% for item in requisition.item_set.all|dictsort:"content_object.name" %}
                {% include "purchase/item.inc.html" %}
            {% endfor %}


        </div>
    </div>
    <div id="instructions" class="tab-pane container-fluid">
        {% if requisition.status == 0 %}
        <form role="form" action="{% url 'purchase:requisition:instructions' requisition.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="text" class="form-control" rows="10">{{ requisition.instructions }}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-save"></span> {% trans 'Save instructions' %}</button>
            </div>
        </form>
        {% else %}
        <div class="well well-lg">
            {{ requisition.instructions }}
        </div>
        {% endif %}
    </div>
{% endblock %}
