{% extends "layout.html" %}
{% load i18n %}

{% block addon %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static "settings.css" %}'>
{% endblock %}

{% block navigation %}
<nav>
    <ul class="navleft">
        {% for item in links %}
        <li><a href="{% url item.url %}" {% if item.active %}class="active"{% endif %}>{{ item.name }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}

{% block content %}
<h2>{% trans "Pharmaship Settings" %}</h2>
<form method="post" action="{% url 'application' %}">
    {% csrf_token %}
    <table>
    {{ settingsform }}
    </table>
    <input type="submit" value='{% trans "Update Pharmaship Settings" %}'/>
</form>

<h2>{% trans "Data Administration" %}</h2>
<form method="post" action="{% url 'export' %}">
    {% csrf_token %}
    <table>
    {{ exportform }}
    </table>
    <input type="submit" value='{% trans "Export Allowance" %}'/>
</form>
<form method="post" enctype="multipart/form-data" action="{% url 'import' %}">
    {% csrf_token %}
    <table>
    {{ importform }}
    </table>
    <input type="submit" value='{% trans "Import Allowance" %}'/>
</form>

<h2>{% trans "Location Manager" %}</h2>
<form method="post" action="{% url 'create_location' %}">
    {% csrf_token %}
    <table>
    {{ locationcreateform }}
    </table>
    <input type="submit" value='{% trans "Add a location" %}'/>
</form>
<form method="post" action="{% url 'delete_location' %}">
    {% csrf_token %}
    <table>
    {{ locationdeleteform }}
    </table>
    <p>{% trans "Objects with these locations will be linked by default to Pharmacy." %}</p>
    <input type="submit" value='{% trans "Delete selected locations" %}'/>
</form>
{% endblock %}
