{% extends "pharmaship/popup.html" %}
{% load i18n %}

{% block begin_wrapper %}
<form method="post" action="{% url 'purchase:requisition:status' requisition.id %}" name="article_form">
{% csrf_token %}
{% endblock %}

{% block text %}
<p>{% trans "You are going to update the satus of the requisition:" %}</p>
<p><b class="sky_blue">{{ requisition.name }}</b></p>
<table>
    {{ form }}
</table>
{% endblock %}

{% block action %}
<ul>
    <li class="b-close popup_action">{% trans "Do not change" %}</li>
    <li class="popup_action" onClick="document.forms['article_form'].submit();">{% trans "Update the status" %}</li>
</ul>
{% endblock %}

{% block end_wrapper %}
</form>
{% endblock %}
