<?xml version="1.0" encoding="UTF-8"?>
<interface domain="com.devmaretique.pharmaship">
  <menu id="app-menu">
    <section>
      <item>
        <attribute name="label" translatable="yes">Location Manager</attribute>
        <attribute name="action">app.location_manager</attribute>
      </item>
      <item>
        <attribute name="label" translatable="yes">Allowance Manager</attribute>
        <attribute name="action">app.allowance_manager</attribute>
      </item>
      <item>
        <attribute name="label" translatable="yes">Vessel Settings</attribute>
        <attribute name="action">app.vessel_settings</attribute>
      </item>
    </section>
    <section>
      <submenu>
        <attribute name="label" translatable="yes">Language</attribute>
        <section>
          <item>
            <attribute name="label" translatable="no">Français</attribute>
            <attribute name="action">app.language</attribute>
            <attribute name="target">fr</attribute>
          </item>
          <item>
            <attribute name="label" translatable="no">English</attribute>
            <attribute name="action">app.language</attribute>
            <attribute name="target">en</attribute>
          </item>
        </section>
      </submenu>
    </section>
    <section>
      <submenu>
        <attribute name="label" translatable="yes">Developer</attribute>
        <section>
          <item>
            <attribute name="label" translatable="yes">Open log</attribute>
            <attribute name="action">app.open_log</attribute>
          </item>
          <item>
            <attribute name="label" translatable="yes">Open configuration file</attribute>
            <attribute name="action">app.open_config</attribute>
          </item>
          <item>
            <attribute name="label" translatable="yes">Export DB</attribute>
            <attribute name="action">app.db_export</attribute>
          </item>
          <item>
            <attribute name="label" translatable="yes">Import DB</attribute>
            <attribute name="action">app.db_import</attribute>
          </item>
        </section>
      </submenu>
    </section>
    <section>
      <item>
        <attribute name="label" translatable="yes">User Manual</attribute>
        <attribute name="action">app.doc</attribute>
      </item>
      <item>
        <attribute name="label" translatable="no">International medical guide for ships</attribute>
        <attribute name="action">app.med_guide</attribute>
      </item>
      <item>
        <attribute name="label" translatable="yes">About</attribute>
        <attribute name="action">app.about</attribute>
      </item>
    </section>
  </menu>
</interface>
