{% extends "layout.html" %}

{% block content %}
<script type="text/javascript">
function collapse(identifiant) {
      if (document.getElementById('inn-'+identifiant).className == "hidden") {
        var divs = document.getElementsByClassName('visible');
        for(var i=0; i<divs.length; i++) { 
          divs[i].className = "hidden";
        }
        var divs = document.getElementsByClassName('inn_active');
        for(var i=0; i<divs.length; i++) { 
          divs[i].className = "inventory";
        }
         document.getElementById('inn-'+identifiant).className = "visible";
         document.getElementById('inn-head-'+identifiant).className = "inn_active";
      } else {
         document.getElementById('inn-'+identifiant).className = "hidden";
         document.getElementById('inn-head-'+identifiant).className = "inventory";
      }
   }
</script>

<table>
    <thead>
        <tr>
            <td>Principe actif (DCI)</td>
            <td>Forme - Composition</td>
            <td>Quantité réglementaire</td>
            <td>Quantité actuelle</td>
            <td>En demande</td>
            <td>Date de péremption</td>
        </tr>
    </thead>
    <tbody>
        {% for inn in inn_list %}
        <tr onclick="collapse('{{ inn.id }}')" class="inventory" id="inn-head-{{ inn.id }}">
            <td>{{ inn.inn }}</td>
            <td>{{ inn.get_packaging_display }} - {{ inn.dose }} {{ inn.unit }}</td>
            <td class="center">{{ inn.required_quantity }}</td>
            <td class="center">{{ inn.get_quantity }}</td>
            <td class="center">0</td>
            {% with inn.drug_set.all|dictsort:"exp_date"|first as item %}
            <td class="center {% if item.exp_date < today %}expired{% endif %}">{{ item.exp_date|date:"d/m/Y" }}</td>
            {% endwith %}
        </tr>
        <tbody class="hidden" id="inn-{{ inn.id }}">
            <tr>
                <th colspan="5" class="bordernone">
                    <b>Voie d'administration : {{ inn.get_path_display }}</b><br>
                    {% if inn.group.all|length > 1 %}
                    Groupes : 
                    {% else %}
                    Groupe :
                    {% endif %}
                    {% for group in inn.group.all %}<span class="group">{{ group.name }}</span> {% endfor %}
                </th>
                {% if inn.drug_list > 0 %}<td class="redborder">{{ inn.get_drug_list_display }}</td>
                {% else %}<td class="borderless"></td>
                {% endif %} 
            </tr>
            <tr>
                <td colspan="2" class="drug_bottom"><b>Emplacement : </b>{{ inn.location }}</td>
                <td colspan="4" class="drug_bottom"><b>Remarques : </b>{{ inn.remark }}</td>
            </tr>
            <tr>
                <td class="name borderless" colspan="6"><b>Dénominations</b></td>
            </tr>
            {% for item in inn.drug_set.all|dictsort:"exp_date" %}
            <tr>
                {% if item.nc_dose != None %}
                <td class="drug name">{{ item.name }}</td>
                <td>{{ item.nc_dose }}</td>
                {% else %}
                <td colspan="3" class="drug name">{{ item.name }}</td>
                {% endif %}
                <td class="center">{{ item.quantity }}</td>
                <td class="borderless"></td>
                <td class="center {% if item.exp_date < today %}expired{% endif %}">{{ item.exp_date|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
            <tr class="bottom">
                <td colspan="6" class="borderless">
                    <a href="#" class="inlinebutton green">Ajouter une dénomination</a>
                    <a href="#" class="inlinebutton violet">Ajouter un équivalent</a>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="borderless upper" onclick="collapse('{{ inn.id }}')"></td>
            </tr>
        </tbody>
        {% endfor %}
</table>
{% endblock %}
