{% extends "layout.html" %}

{% block addon %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static "style/inventory.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style/popup.css" %}'>
    <script src='{% static "js/jquery-1.9.1.min.js" %}'></script>
    <script src='{% static "js/jquery.bpopup.min.js" %}'></script>
    <script src='{% static "js/drug_inventory.js" %}'></script>
{% endblock %}

{% block print %}
<form action="{% url drug_print %}" method="post">
    {% csrf_token %}
    <input id="print" type="submit" value="Imprimer ce registre"/>
</form>
{% endblock %}

{% block content %}
<div class="debug">{{ debug }}</div>
<div id="filter_banner">
    <form class="filterform" action="#">
        <p><input type="text" id="filterinput" placeholder="Rechercher une DC ou un médicament" size="35"/> <a href="#" id="reset_input"><img src='{% static "style/icons/clear.png" %}' alt="Réinitialiser"/></a></p>

        <p>Filtrer par groupe :
            <select id="filterselect">
                <option value="">Tous</option>
                {% for group in group_list %}
                <option value="{{group.name}}">{{ group }}</option>
                {% endfor %}
            </select>
            <label><input type="checkbox" id="filtertag" value="Usage courant"/> Usage courant</label>
        </p>
    </form>
    <form action="{% url drug_filter %}" method="post" id="filterdotation">
        {% csrf_token %}
        <p>Filtrer par dotation :
            <label><input type="checkbox" name="dotation-0" value="-1" {% if filter == None %}checked{% endif %} /> Toutes</label>
            {% for dotation in dotation_list %}
            <label><input type="checkbox" class="filtercheck" name="dotation-{{ dotation.id }}" value="{{ dotation.id }}" {% if dotation in filter%}checked{% endif %}/> {{ dotation.name }}</label>
            {% endfor %}
        </p>
    </form>
</div>
<div id="drug_table">
    <header id="drug_table_header">
        <ul>
            <li class="drug_li drug_inn">Principe actif (DC)</li>
            <li class="drug_li drug_compo">Forme - Composition</li>
            <li class="drug_li drug_qty">Dotation</li>
            <li class="drug_li drug_qty">Quantité</li>
            <li class="drug_li drug_qty">En demande</li>
            <li class="drug_li drug_date">Date de péremption</li>
        </ul>
    </header>

    <div id="articles">
    {% for group in values %}
    <div class="group_div">
    <h2 class="group">{{ group.name}}</h2>
    {% for inn in group.child %}
    <article class="drug_item">
        <header id='inn-head-{{ inn.id }}' class="drug_inn_header">
            <ul class="inn_list">
                <li class="drug_li drug_inn">{{ inn.name }}<br />
                    <small class="brand">
                        {% for item in inn.drug_items %}{% if not forloop.first %}, {% endif %}{% if item.nc_composition or item.nc_inn %}<span class="red">{{ item.name }}</span>{% else %}{{ item.name }}{% endif %}{% endfor %}
                    </small>
                </li>
                <li class="drug_li_h drug_compo">{{ inn.dosage_form }} - {{ inn.composition }}</li>
                <li class="drug_li_h drug_qty">{{ inn.required_quantity }}</li>
                <li class="drug_li_h drug_qty {% if inn.quantity < inn.required_quantity %}error{% endif %}">{{ inn.quantity }}</li>
                <li class="drug_li_h drug_qty">0</li> <!-- TODO -->
                {% with inn.drug_items|first as item %}
                <li class="drug_li_h drug_date {% if item.exp_date < today %}error{% elif item.exp_date < delay %}warning{% endif %}">{{ item.exp_date|date:"d/m/Y" }}</li>
                {% endwith %}
            </ul>
        </header>
        <div id='inn-{{ inn.id }}' class="drug_more">
            <div class="drug_wrapper">
                <div class="drug_info">
                    <p><b>Voie d'administration :</b> {{ inn.roa }}</p>
                    <p class="drug_group"><b>Groupe : </b>{{ group.name.name }}
                        {% if inn.tag.all|length > 0 %}<span class="tag"><b>Tags : </b>{% for tag in inn.tag.all %}{% if not forloop.first %}, {% endif %}{{ tag.name }}{% endfor %}</span>{% endif %}</p>
                </div>
                {% if inn.drug_list != "None" %}
                <div class="drug_list redborder">{{ inn.drug_list }}</div>
                {% endif %}
            </div>
            <div class="drug_loc_rem">
                <span><a href='{% url drug_locrem inn.id %}' title="Éditer les champs" class="jquery_popup drug_edit drug_link"></a></span>
                <p class="drug_loc"><b>Emplacement : </b>{{ inn.location }}</p>
                <p><b>Remarques : </b>{{ inn.remark }}</p>
            </div>
            <div class="drug_items">
                <header class="drug_item_header">
                    <ul>
                        <li class="drug_li drug_inn">Dénomination commerciale</li>
                        <li class="drug_li drug_qty">Quantité</li>
                        <li class="drug_li drug_date">Date d'expiration</li>
                    </ul>
                </header>
                {% for item in inn.drug_items %}
                <ul id="drug-item-{{ item.id }}">
                    <li class="drug_li drug_inn">{{ item.name }}
                    {% if item.nc_inn %}<span class="red">[ {{ item.nc_inn }} ]</span>{% endif %}
                    {% if item.nc_composition %}<span class="red">({{ item.nc_composition }})</span>{% endif %}
                    </li>
                    <li class="drug_li drug_qty">{{ item.quantity }}</li>
                    <li class="drug_li drug_date {% if item.exp_date < today %}error{% elif item.exp_date < delay %}warning{% endif %}">{{ item.exp_date|date:"d/m/Y" }}</li>
                    <li class="drug_li drug_a">
                        <a href='{% url drug_out item.id %}' title="Utiliser ce médicament" class="jquery_popup drug_out drug_link"></a>
                    </li>
                    <li class="drug_li drug_a">
                        <a href='{% url drug_change item.id %}' title="Éditer ce médicament" class="jquery_popup drug_edit drug_link"></a>
                    </li>
                    <li class="drug_li drug_a">
                        <a href='{% url drug_delete item.id %}' title="Supprimer ce médicament" class="jquery_popup drug_delete drug_link"></a>
                    </li>
                    {% if item.nc_inn %}
                    <li class="drug_li red">DÉNOMINATION NON CONFORME !</li>
                    {% elif item.nc_composition %}
                    <li class="drug_li red">COMPOSITION NON CONFORME !</li>
                    {% endif %}
                </ul>
                {% endfor %}
            </div>
            <nav class="drug_action">
                <ul>
                    <li><a href="{% url drug_add inn.id %}" class="jquery_popup drug_li green">Ajouter une dénomination</a></li>
                    <li><a href="{% url drug_equivalent inn.id %}" class="jquery_popup drug_li violet">Ajouter un équivalent</a></li>
                </ul>
            </nav>
        </div>
    </article>
    {% endfor %}
    </div>
    {% endfor %}
    </div>

</div>
<!-- Popup -->
<div id="drug_dialog">
    <div class="content">
    </div>
</div>
{% endblock %}
