<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" >

    <link rel="stylesheet" type="text/css" href='{% static "style/layout.css" %}'>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% block addon %}
    {% endblock %}

    {% load i18n %}

    <title>{{title}} - Pharmaship</title>
</head>

<body>
	<header id="head">
		<h1><a href="/"><img src='{% static "style/logo.png" %}' alt="PharmaShip"/></a></h1>
		<div id="account">
            {% if user %}
            <h1>{{ user }}</h1>
			<h2>{{ rank }}</h2>
			<ul>
				<li><a href="/settings" class="settings">{% trans "Settings" %}</a></li>
				<li><a href="/logout" class="logout">{% trans "Logout" %}</a></li>
			</ul>
            {% else %}
            <a class="button blue shifthead" href="/login/?next=/">{% trans "Log In" %}</a>
            {% endif %}
		</div>
	</header>

<!-- Corps -->
<div class="document">
    <div class="documentwrapper">
        <div class="bodywrapper">
            <div id="title">
                {% block print %}
<!--
                <form action="." method="post">
                    <input id="search" type="text" name="search" placeholder="{% trans 'Search' %}"/>
                </form>
-->
                {% endblock %}
                <h1>{{ title }}</h1>

                {% block navigation %}

                {% endblock %}
            </div>
            <div class="body">
                {% block content %}

                {% endblock %}
            </div>

        </div>
    </div>
</div>
<!-- #end content -->
<!-- left sidebar -->
	<div id="sidebar">
		<div class="sidebarwrapper">
            <ul>
                <li><a href="{% url 'medicine' %}">{% trans "Medicine Inventory" %}</a></li>
                <li class="separator"><a href="{% url 'equipment' %}">{% trans "Material Inventory" %}</a></li>
<!--
                <li class="separator"><a href="#">Gestion des commandes</a></li>
                <li><a href="#">Téléconsultation</a></li>
                <li class="separator"><a href="#">Dossiers en cours</a></li>
                <li><a href="#">Guide des soins</a></li>
-->
            </ul>
            <div class="button">
                 <a class="button red" href="/contact">{% trans "Contact the CCMM" %}</a>
            </div>
		</div>
	</div>
	<div class="clearer"></div>
<!-- #end left sidebar -->

<footer>

</footer>
</body>
</html>
