{% extends "popup_layout.html" %}

{% block begin_wrapper %}
<form method="post" action="{% url medicine_equivalent inn.id %}" name="medicine_form">
{% csrf_token %}
{% endblock %}

{% block text %}
<p>Vous vous apprêtez à ajouter un médicament équivalent pour la dénomination suivante :</p>
<p><b class="sky_blue">{{ inn.inn }}</b></p>
<table>
    {{ form }}
</table>
{% endblock %}

{% block action %}
<p>Avant d'ajouter ce médicament équivalent (dénomination différente de la allowance), assurez-vous d'avoir eu l'accord d'un médecin.</p>
<ul>
    <li class="b-close popup_action">Ne pas ajouter</li>
    <li class="popup_action" onClick="document.forms['medicine_form'].submit();">Ajouter ce médicament</li>
</ul>
{% endblock %}

{% block end_wrapper %}
</form>
{% endblock %}
