<!DOCTYPE HTML>
<html>
<head>
    {% load staticfiles %}
    {% load i18n %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" >

    <link rel="stylesheet" type="text/css" href='{% static "style/report.css" %}' media="screen, print">

    <title>{{title}} - Pharmaship</title>
    <style>
    @page {
        size: landscape;
        margin: 0.5cm;
        margin-bottom: 1cm;
        @bottom-right {
            content: "Page " counter(page) " sur " counter(pages);
            margin: 5mm; }
        @bottom-left {
            content: "Généré par Pharmaship le {{ today|date:"d/m/Y" }}";
            margin: 5mm; }
        }
    </style>
</head>

<body>
    <h1 id="title">{{ title }}</h1>
    <div id="vessel">
        <ul>
            <li><b>{% trans "Vessel:" %}</b> {{ vessel.name }}</li>
            <li><b>{% trans "Shipowner:" %}</b> {{ vessel.shipowner }}</li>
            <li><b>{% trans "Flag:" %}</b> {{ vessel.flag }}</li>
            <li><b>{% trans "Port of Registry" %}</b> {{ vessel.port_of_registry }}</li>
        </ul>

    </div>
    <div id="allowance">
        <p>
            <b>{% trans "Medical Allowances:" %}</b>
            {% for allowance in allowance_list %}
            {% if not forloop.first %} - {% endif %}
            {{ allowance.name }}
            {% endfor %}
       </p>
    </div>

    <table>
        <thead>
        <tr>
            <td>Principe actif<br />Dénomination Commune Internationale</td>
            <td>{% trans "Brand name or Generic" %}</td>
            <td>{% trans "Route of Administration" %}</td>
            <td>Forme - Composition</td>
            <td class="center">Quantité réglementaire</td>
            <td class="center">Quantité existante</td>
            <td class="center">Date de péremption</td>
            <td class="center">{% trans "List" %}</td>
        </tr>
        </thead>
        <tbody>
        {% for group in values %}
            <tr class="group border"><td colspan="8">{{ group.name }}</td></tr>
            {% for inn in group.child %}
            <tr class="inn">
                <td>{{ inn.name }}</td>
                <td></td>
                <td class="small">{{ inn.roa }}</td>
                <td class="small">{{ inn.dosage_form }} - {{ inn.composition }}</td>
                <td class="center">{{ inn.required_quantity }}</td>
                <td class="center">{{ inn.quantity }}</td>
                <td></td>
                <td class="center">{% if inn.medicine_list != "None" %}{{ inn.medicine_list }}{% endif %}</td>
            </tr>
            {% for item in inn.medicine_items %}
            <tr>
                {% if item.nc_inn %}
                <td class="nc">{{ item.nc_inn }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{ item.name }}</td>
                <td></td>
                {% if item.nc_compositon %}
                <td>{{ item.nc_composition}}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td></td>
                <td class="center">{{ item.quantity }}</td>
                <td class="center">{{ item.exp_date|date:"d/m/Y" }}</td>
                <td></td>
            </tr>
            {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
