{% extends "layout.html" %}
{% load i18n %}

{% block addon %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static "style/inventory.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style/popup.css" %}'>
    <script src='{% static "js/jquery-1.9.1.min.js" %}'></script>
    <script src='{% static "js/jquery.bpopup.min.js" %}'></script>
    <script src='{% static "js/medicine_inventory.js" %}'></script>
{% endblock %}

{% block print %}
<form action="{% url medicine_print %}" method="post">
    {% csrf_token %}
    <input id="print" type="submit" value="{% trans 'Print this inventory' %}"/>
</form>
{% endblock %}

{% block content %}
<div class="debug">{{ debug }}</div>
<div id="filter_banner">
    <form class="filterform" action="#">
        <p><input type="text" id="filterinput" placeholder="{% trans 'Search for an INN or a medicine.' %}" size="35"/> <a href="#" id="reset_input"><img src='{% static "style/icons/clear.png" %}' alt="{% trans 'Reset' %}"/></a></p>

        <p>{% trans "Filter by group:" %}
            <select id="filterselect">
                <option value="">{% trans "All" %}</option>
                {% for group in group_list %}
                <option value="{{ group.name }}">{{ group }}</option>
                {% endfor %}
            </select>
            <label><input type="checkbox" id="filtertag" value="Usage courant"/> Usage courant</label>
        </p>
    </form>
    <form action="{% url medicine_filter %}" method="post" id="filterallowance">
        {% csrf_token %}
        <p>{% trans "Filter by allowance:" %}
            <label><input type="checkbox" name="allowance-0" value="-1" {% if filter == None %}checked{% endif %} /> {% trans "All" %}</label>
            {% for allowance in allowance_list %}
            <label><input type="checkbox" class="filtercheck" name="allowance-{{ allowance.id }}" value="{{ allowance.id }}" {% if allowance in filter%}checked{% endif %}/> {{ allowance.name }}</label>
            {% endfor %}
        </p>
        <p>{% trans "Filter by location:" %}
            <select id="filterlocation">
                <option value="">{% trans "All" %}</option>
                {% for location in location_list %}
                <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
            </select>
        </p>
    </form>
</div>
<div id="medicine_table">
    <header id="medicine_table_header">
        <ul>
            <li class="medicine_li medicine_inn">Principe actif (DC)</li>
            <li class="medicine_li medicine_compo">{% trans "Form" %} - {% trans "Composition" %}</li>
            <li class="medicine_li medicine_qty">{% trans "Allowance" %}</li>
            <li class="medicine_li medicine_qty">{% trans "Quantity" %}</li>
            <li class="medicine_li medicine_qty">{% trans "Requested" %}</li>
            <li class="medicine_li medicine_date">{% trans "Expiration Date" %}</li>
        </ul>
    </header>

    <div id="articles">
    {% for group in values %}
    <div class="group_div">
    <h2 class="group">{{ group.name}}</h2>
    {% for inn in group.child %}
    <article class="medicine_item">
        <header id='inn-head-{{ inn.id }}' class="medicine_inn_header">
            <ul class="inn_list">
                <li class="medicine_li medicine_inn">{{ inn.name }}<br />
                    <small class="brand">
                        {% for item in inn.medicine_items %}{% if not forloop.first %}, {% endif %}{% if item.nc_composition or item.nc_inn %}<span class="red">{{ item.name }}</span>{% else %}{{ item.name }}{% endif %}{% endfor %}
                    </small>
                </li>
                <li class="medicine_li_h medicine_compo">{{ inn.dosage_form }} - {{ inn.composition }}</li>
                <li class="medicine_li_h medicine_qty">{{ inn.required_quantity }}</li>
                <li class="medicine_li_h medicine_qty {% if inn.quantity < inn.required_quantity %}error{% endif %}">{{ inn.quantity }}</li>
                <li class="medicine_li_h medicine_qty">0</li> <!-- TODO -->
                {% with inn.medicine_items|first as item %}
                <li class="medicine_li_h medicine_date {% if item.exp_date < today %}error{% elif item.exp_date < delay %}warning{% endif %}">{{ item.exp_date|date:"d/m/Y" }}</li>
                {% endwith %}
            </ul>
        </header>
        <div id='inn-{{ inn.id }}' class="medicine_more">
            <div class="medicine_wrapper">
                <div class="medicine_info">
                    <p class="medicine_roa"><b>{% trans "Route of Administration:" %}</b> {{ inn.roa }}</p>
                    <p class="medicine_group"><b>{% trans "Group:" %}</b> {{ group.name.name }}</p>
                </div>
                {% if inn.medicine_list != "None" %}
                <div class="medicine_list redborder">{{ inn.medicine_list }}</div>
                {% endif %}
            </div>
            <div class="medicine_rem">
                <span><a href='{% url medicine_remark inn.id %}' title="Éditer les remarques" class="jquery_popup medicine_edit medicine_link"></a></span>
                {% if inn.tag.all|length > 0 %}
                <p class="medicine_tag"><b>{% trans "Tags:" %} </b>
                    {% for tag in inn.tag.all %}{% if not forloop.first %}, {% endif %}{{ tag.name }}{% endfor %}
                </p>
                {% endif %}
                <p><b>{% trans "Remarks:" %} </b>{{ inn.remark }}</p>
            </div>
            <div class="medicine_items">
                <header class="medicine_item_header">
                    <ul>
                        <li class="medicine_li medicine_inn">{% trans "Brand Name" %}</li>
                        <li class="medicine_li medicine_qty">{% trans "Quantity" %}</li>
                        <li class="medicine_li medicine_date">{% trans "Expiration Date" %}</li>
                        <li class="medicine_li medicine_location">{% trans "Location" %}</li>
                    </ul>
                </header>
                {% for item in inn.medicine_items %}
                <ul id="medicine-item-{{ item.id }}">
                    <li class="medicine_li medicine_inn">{{ item.name }}
                    {% if item.nc_inn %}<span class="red">[ {{ item.nc_inn }} ]</span>{% endif %}
                    {% if item.nc_composition %}<span class="red">({{ item.nc_composition }})</span>{% endif %}
                    </li>
                    <li class="medicine_li medicine_qty">{{ item.quantity }}</li>
                    <li class="medicine_li medicine_date {% if item.exp_date < today %}error{% elif item.exp_date < delay %}warning{% endif %}">{{ item.exp_date|date:"d/m/Y" }}</li>
                    <li class="medicine_li medicine_location">{{ item.location }}</li>
                    <li class="medicine_li medicine_a">
                        <a href='{% url medicine_out item.id %}' title="Utiliser ce médicament" class="jquery_popup medicine_out medicine_link"></a>
                    </li>
                    <li class="medicine_li medicine_a">
                        <a href='{% url medicine_change item.id %}' title="Éditer ce médicament" class="jquery_popup medicine_edit medicine_link"></a>
                    </li>
                    <li class="medicine_li medicine_a">
                        <a href='{% url medicine_delete item.id %}' title="Supprimer ce médicament" class="jquery_popup medicine_delete medicine_link"></a>
                    </li>
                    {% if item.nc_inn %}
                    <li class="medicine_li red">DÉNOMINATION NON CONFORME !</li>
                    {% elif item.nc_composition %}
                    <li class="medicine_li red">COMPOSITION NON CONFORME !</li>
                    {% endif %}
                </ul>
                {% endfor %}
            </div>
            <nav class="medicine_action">
                <ul>
                    <li><a href="{% url medicine_add inn.id %}" class="jquery_popup medicine_li green">Ajouter une dénomination</a></li>
                    <li><a href="{% url medicine_equivalent inn.id %}" class="jquery_popup medicine_li violet">Ajouter un équivalent</a></li>
                </ul>
            </nav>
        </div>
    </article>
    {% endfor %}
    </div>
    {% endfor %}
    </div>

</div>
<!-- Popup -->
<div id="medicine_dialog">
    <div class="content">
    </div>
</div>
{% endblock %}
