{% extends "popup_layout.html" %}

{% block begin_wrapper %}
<form method="post" action="{% url 'medicine_out' medicine.id %}" name="medicine_form">
{% csrf_token %}
{% endblock %}

{% block text %}
<p>Vous vous apprêtez à utiliser ce médicament pour un traitement :</p>
<p><b class="sky_blue">{{ medicine.name }}</b> expirant le <b>{{ medicine.exp_date|date:"d/m/Y" }}</b> (quantité : {{ medicine.get_quantity }}).</p>
<table>
    {{ form }}
</table>
{% endblock %}

{% block action %}
<ul>
    <li class="b-close popup_action">Ne pas modifier</li>
    <li class="popup_action" onClick="document.forms['medicine_form'].submit();">Utiliser ce médicament</li>
</ul>
{% endblock %}

{% block end_wrapper %}
</form>
{% endblock %}
