{% extends "layout.html" %}
{% load i18n %}

{% block addon %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static "style/settings.css" %}'>
{% endblock %}

{% block content %}
<h2>{% trans "Uploaded File Information" %}</h2>
<table>
    <tr>
        <th>{% trans "Filename:" %}</th>
        <td>{{ data.name }}</td>
    </tr>
    <tr>
        <th>{% trans "Type:" %}</th>
        <td>{{ data.type }}</td>
    </tr>
    <tr>
        <th>{% trans "Size:" %}</th>
        <td>{{ data.size }} bytes</td>
    </tr>
    {% if data.error %}
    <tr>
        <th>{% trans "Error:" %}</th>
        <td>{{ data.error }}</td>
    </tr>
    {% endif %}
</table>

<h2>{% trans "Package Information" %}</h2>
<table>
    <tr>
        <th>{% trans "Name:" %}</th>
        <td>{{ data.info.name }}</td>
    </tr>
    <tr>
        <th>{% trans "Date:" %}</th>
        <td>{{ data.info.date }}</td>
    </tr>
    <tr>
        <th>{% trans "Created by:" %}</th>
        <td>{{ data.info.author }}</td>
    </tr>
    <tr>
        <th>{% trans "Signed by:" %}</th>
        <td>{{ data.verified }}</td>
    </tr>
</table>

<h2>{% trans "Importation Status" %}</h2>
<table>
    <tr>
        <th>{% trans "Allowance Name:" %}</th>
        <td>{{ data.data.allowance_name }}</td>
    </tr>
    <tr>
        <th>{% trans "New Allowance:" %}</th>
        <td>{{ data.data.allowance_new|yesno:"yes,no" }}</td>
    </tr>
    <tr>
        <th>{% trans "Molecules added:" %}</th>
        <td>{{ data.data.molecules }}</td>
    </tr>
    <tr>
        <th>{% trans "New orphans:" %}</th>
        <td>{{ data.data.orphan }}</td>
    </tr>
    <tr>
        <th>{% trans "Req. Quantities created:" %}</th>
        <td>{{ data.data.reqqty_added }}</td>
    </tr>
</table>
{% endblock %}
