{% extends "settings.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block js_addon %}
<script src='{% static "js/settings/import.js" %}'></script>
<script src='{% static "js/pharmaship/callbacks.js" %}'></script>
{% endblock %}

{% block content %}
<h1 class="page-header">{{ title }}</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Application Settings" %}</h3>
    </div>
    <div class="panel-body">
        <form role="form" id="pharmaship_settings_form" method="post" action="{% url 'settings:inventory:application' %}">
            {% csrf_token %}
            {{ settingsform|bootstrap }}
            <button type="submit" class="btn btn-primary">{% trans "Update Pharmaship Settings" %}</button>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Allowances" %}</h3>
    </div>
    <table class="table table-stripped allowance-table">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Additionnal" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in allowances %}
                {% include "pharmaship/settings/allowance.inc.html" %}
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <p class="help-block">{% trans "To add an allowance, use the import function." %}</p>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Location Manager" %}</h3>
    </div>
    <table class="table table-stripped location-table">
        <thead>
            <tr>
                <th>{% trans "Primary" %}</th>
                <th>{% trans "Secondary" %}</th>
                <th><a class="btn btn-xs btn-success pull-right" data-toggle="modal" data-target="#location_add_modal" title='{% trans "Add a location" %}' href="#"><span class="fa fa-plus"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for item in locations %}
                {% include "pharmaship/settings/location.inc.html" %}
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <p class="help-block">{% trans "Objects with these locations will be linked by default to Pharmacy." %}</p>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<div class="modal fade" id="location_add_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "New location" %}</h4>
      </div>
    <form role="form" id="pharmaship_location_add_form" method="post" action="{% url 'settings:inventory:location:create' %}" data-form-callback="addLocation">
      <div class="modal-body">
        {% csrf_token %}
            {{ locationcreateform|bootstrap }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">{% trans "Add a location" %}</button>
      </div>
    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
