/* Bootstrap */
.ps-list-header{
    background: #2e3536;
    color: white;
/*    margin-bottom: 10px;*/
}
/*
.ps-list-cell{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
*/
#instructions {
    padding-top: 10px;
}

.ps-item-add{
    padding: 10px 0;
}
.ps-scroll-items{
/*    position: relative;*/
    padding-top: 10px;
/*    overflow-x: hidden;*/
/*    overflow-y: auto;*/
}/*
#debug{
    display: none;
}
.ps-scroll-items, .ps-item-add{
    margin-right: -15px;
}
.ps-item-add {
    margin-left: -13px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-top: 10px;
}


*/
/*
.twitter-typeahead{
    display: inherit!important;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: -60px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    background-clip: padding-box;
}
*/


.list-headers {
    min-height: 20px;
    padding: 10px 0;
    border-radius: 3px;
    background: #555;
    color: white;
}s
